.modal-overlay {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    // background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
  }
  
  .modal-content {
    background-color: #fefefe;
    /* White background */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Optional: Box shadow for better appearance */
    position: relative;
  
    /* Relative position for content */
    >span{
        position: absolute;
        top: 2px;
        right: 10px;
        &:hover{
            font-size: 15px;
        }
    }
  }
  
  .danger {
    color: red;
  }
  
  .success {
    color: green
  }
  .counter{
    width: 20px;
    text-align: center;
    /* display: flex; */
    position: absolute;
    // left: 140px;
    background: green;
    color: white;
    border-radius: 10px;
    // margin-top: 8px;
    bottom: 11px;
    right: 96px;
  }
  .mat-form-field {
    margin-top: 16px;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }