<h1>Store Component Displayed....</h1>
<h2> Store Value :{{fun(value)}}</h2>


<div class="btn-group" style="display: flex;gap: 10px;">
    <button (click)="inc()"    style="color: white;
    background: green;
    padding: 10px;
    border-radius: 15px;">Increase....</button>
    <button (click)="dec()"    style="color: white;
    background: red;
    padding: 10px;
    border-radius: 15px;">Decrease....</button>
    <button (click)="rst()"   style="color: white;
    background: #8a8a4a;
    padding: 10px;
    border-radius: 15px;">Reset.....</button>
    <button (click)="dbl()"   style="color: white;
    background: #6666f6;
    padding: 10px;
    border-radius: 15px;">Double....</button>
</div>
