<h2> Store Value :{{fun(value)}}</h2>
<div class="btn-group" style="display: flex;gap: 10px; align-items: center;">
    <button (click)="inc()" 
       style="color: white;
    background: green;
    padding: 6px;
    border-radius: 15px;"
    >Increase....</button>
    <button (click)="dec()"    style="color: white;
    background: red;
    padding: 6px;
    border-radius: 15px;">Decrease....</button>
    <button (click)="rst()"   style="color: white;
    background: #8a8a4a;
    padding: 6px;
    border-radius: 15px;">Reset.....</button>
    <button (click)="dbl()"   style="color: white;
    background: #aaaae3;
    padding: 6px;
    border-radius: 15px;">Double....</button>
</div>
<button routerLink="/Home" class="btn btn-sm btn-link">Back To Home</button>

<router-outlet></router-outlet>
