<!-- <div #myModal class="container">
    <div class="content">
      <p>Some content here...</p>
      <button (click)="close()">Close</button>
    </div>
    </div> -->
<div #myModal class="modal-overlay" (click)="onCloseOverlay($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <ng-content>
        </ng-content> <!-- Content from parent component -->
        <p [ngClass]="status=='success'?'success':'danger'">{{message}}</p>
        <button *ngIf="status !='success'"  (click)="close()">close</button>
         <span *ngIf="status=='success'&&counter>0" class="counter" >{{counter}}</span>
    </div> 
</div>