<div class="main-Parent">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4"
      style="max-width: 400px; width: 100%; background-color: rgba(255, 255, 255, 0.9); border-radius: 15px;">
      <h2 class="text-center mb-4">Sign in here...</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <div class="form-group mb-3 input-box">
          <label for="name">User_Name</label>
          <input type="text" id="name" class="form-control" formControlName="userName" placeholder="Enter your name" />
          <img src="https://cdn-icons-png.flaticon.com/512/6325/6325109.png" alt="user-image" width="25px">
          <div *ngIf="userForm.get('userName')?.invalid" class="text-danger error-text">
            <span *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">
              Name is required
            </span>
          </div>
        </div>
        <div class="form-group mb-3 input-box">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password"
            placeholder="Enter your password" />
            <img src="https://cdn-icons-png.flaticon.com/512/2489/2489659.png" alt="lock-image" width="22px">
          <div *ngIf="userForm.get('password')?.invalid" class="text-danger error-text">
            <span *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
              Password is required
            </span>
          </div>
        </div>
        <div class="remember-forgot">
          <div class="panel-Hints">
            <input type="checkbox" id="remember">
            <label for="remember">Remember me</label>
          </div>
          <div class="frgt-pwd">
            <a href="/">forgot_Password</a>
          </div>
        </div>
       
        <button type="submit" class="btn btn-primary w-100" [disabled]="userForm.invalid"
          style="background-color: #007bff; border-color: #007bff;">
          Submit
        </button>
       <div>
        <p>Don't you have an account ?<a href="/" routerLink="register">Register</a></p>
       </div>
      </form>
    </div>
  </div>
</div>




<!-- <div class="parent">
    <div class="container">
        <h2 class="title">Login</h2>
        <form action="#" class="form-container">
            <div class="input-box email">
                <input type="email"  id="email-input" required placeholder="Username">
                <img src="https://cdn-icons-png.flaticon.com/512/6325/6325109.png" alt="user-image" width="25px">
            </div>
            <div class="input-box password">
                <input type="password"  id="password-input" required placeholder="Password">
                <img src="https://cdn-icons-png.flaticon.com/512/2489/2489659.png" alt="lock-image" width="22px">
            </div>
            <div class="remember-forgot">
                <div class="remember">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <div class="forgot">
                    <a href="#">forgot Password ?</a>
                </div>
            </div>
            <div class="button">
                <button class="login">Login</button>
            </div>
            <div class="register">
                <p>Don't you have an account ?<a href="#">Register</a></p>
            </div>
        </form>
    </div>
</div> -->
<router-outlet></router-outlet>