<app-loder (load)="loder($event)"></app-loder>

<div *ngIf="!isLoader" class="container">
   <h2> Welcome {{greetingsUser}}</h2>
   <div class="nav-Bar">
       <button routerLink="/customers" class="btn btn-sm btn-link">Customer List</button>
       <button routerLink="/products" class="btn btn-sm btn-link">Shop Items</button>
   </div>
    <hr />

    <div class="nav-Bar" >
        <h1 routerLink="/chat" style="color: blue;text-decoration: underline;cursor: pointer;">Open Chat Appn</h1>
        <h1 routerLink="/store" style="color: blue;text-decoration: underline;cursor: pointer;">Play with Store....</h1>
    </div>
    <!-- <button routerLink="/store" style="cursor: pointer;">Go To Store....</button> -->
</div>


<router-outlet></router-outlet>
