<h1>Home Component Works</h1>
<div class="container">
    <button routerLink="/customers" class="btn btn-sm btn-link">Customer</button>
    <button routerLink="/products" class="btn btn-sm btn-link">Products</button>
    <hr />

    <h1 routerLink="/chat" style="color: blue;text-decoration: underline;cursor: pointer;">lets Chat</h1>

    <h1 routerLink="/store" style="cursor: pointer;">Go To Store....</h1>
    <button routerLink="/store" style="cursor: pointer;">Go To Store....</button>
</div>


<router-outlet></router-outlet>