<!--
<table>
    <tr>
        <th>S/NO</th>
        <th>NAME</th>
        <th>ID</th>
        <th>PRICE</th>
    </tr>
   <tbody>
    <tr *ngFor="let dtls of loopData;let indx=index" style="border: 1px sold grey;">
        <ng-container *ngIf="dtls">
            <td>{{indx+1}}</td>
            <td>{{dtls.title}}</td>
            <td>{{dtls.id}}</td>
            <td>{{dtls.price}}</td>
        </ng-container>
       
    </tr>
   </tbody>
</table> -->
<div *ngIf="loopData.length">
    <div class="cartItems-Parent">
        <ng-container *ngFor="let dtls of loopData; let indx = index">
          <div class="product-Div">
            <div class="close-Parent">
                <span><i class="fa fa-close close-Icon" (click)="removeFromBag(dtls)"></i></span>
            </div>
            <div class="image-container">
              <img [src]="dtls.image" alt="{{dtls.title}}">
            </div>
            <div class="info-container">
              <span class="product-title">{{dtls.title}}</span>
              <span class="product-price">{{dtls.price.toFixed(2)|currency}}</span>
            </div>
            <div class="action-Buttons">
              <div>
                <button (click)="increaseQuantity(dtls,indx)">Increase</button>
              </div>
              <div>
                <span>{{dtls.quantity}}</span>
              </div> <div>
                <button (click)="decreaseQuantity(dtls,indx)">{{dtls.quantity>1?"Decrease":"Remove"}}</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div  class="cart-Actions" >
        <button (click)="buy()">Buy now...</button>
        <button>wishlist
           <!-- <i class="fa fa-heart" style="font-size:35px;color:red"></i> -->
        </button>
    </div>
</div>
<div *ngIf="!loopData.length" class="empty-Cart">
  <h3 >No items in the Cart</h3>

</div>
